.banner-img {
  text-align: center;
  margin: 64px 0;
}
.banner-img img {
  margin: auto;
}
.mg-auto {
  margin: auto;
  text-align: center;
}
.section-title {
  font-size: 24px;
  color: #1b1b1b;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
