.footer {
  text-align: center;
}
.footer a{
  color: #777;
  display: inline-block;
}
.footer_social {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer_social li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 40%;
}
.footer_social li a:hover {
  background-color: #f79918;
  color: #ffffff;
}

.footer .privacy {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer .privacy a:hover {
  color: #f79918;
}
