.blog-list {
  display: flex;
}
.blog-item {
  width: calc(25% - (16px * 3 /4));
}
.blog-item:hover .title{
  color: #f79918;
}
.blog-item .title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}
.img-wrap {
  overflow: hidden;
  border-radius: 7px;
  margin-bottom: 30px;
}
.post-meta {
  margin-bottom: 24px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.post-meta .category {
  font-weight: bold;
  color: #222;
}
.post-meta .date {
  color: #999;
}
.blog-item .title {
  font-size: 20px;
  font-weight: bold;
}
.blog-item .des {
  font-weight: 400;
  font-size: 16px;
  color: #888;
}
